[submodule "deps/linenoise"]
	path = deps/linenoise
	url = https://github.com/yhirose/linenoise
	branch = utf8-support
[submodule "deps/cmp"]
	path = deps/cmp
	url = https://github.com/camgunz/cmp
[submodule "deps/optparse"]
	path = deps/optparse
	url = https://github.com/skeeto/optparse
