[submodule "deps/cargo"]
	path = deps/cargo
	url = https://github.com/JoakimSoderberg/cargo
[submodule "deps/linenoise"]
	path = deps/linenoise
	url = https://github.com/yhirose/linenoise
	branch = utf8-support
