.collapsible-menu-heading {
	user-select: none;
	cursor: pointer;

	&:before {
		content: "\25bc";
		display: inline-block;
		width: 25px;
		text-align: left;
	}

	&.collapsed:before {
		position: relative;
		content: "\25b8";
		top: -1px;
		left: 4px;
	}
}
